
@model Pigulator.Models.Input

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pigulator</title>
</head>
<body>
    <form asp-action="Index" method="post">
        <div class="text-center">
            <h1 class="display-4">Pigulator</h1>
            <p>Click the link <a href="https://www.swfrc.com/">To explore more local food options</a>.</p>
        </div>
        <picture>
            <source srcset="~/css/pigs.jpg">
            <img src="~/css/pigs.jpg" alt="pigs" style="min-width:450px">
        </picture>
        <div asp-validation-summary="All"></div>
        @*
             Lookup how to make buttons and inputs visable and invisible absed off of selected options on page. 
            This is key to getting the page to respond without haveing to reload or change views.
         *@
        <div class="form-group">
            <label>How many Customers</label>
            <select asp-for="Customers" class="form-control">
                <option value="">Choose an Amount</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
        </div>
        <div class="form-group">
            <label>How many pigs</label>
            <select asp-for="Amount" class="form-control">
                <option value="">Choose an Amount</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
            
        </div>
        <div class="form-group">
            <label>Whole or half pig</label>
            <select asp-for="WholeorHalf" class="form-control">
                <option value="">Choose an Option</option>
                <option value="true">Whole Pig</option>
                <option value="false">Half Pig</option>
            </select>
        </div>
        <button type="Submit" class="btn btn-primary">Calculate</button>
    </form>
</body>
</html>