
@model Pigulator.Models.Input

@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pigulator</title>
</head>

<body>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All"></div>
        <div class="text-center">
            
            <p>Click the link <a href="https://www.swfrc.com/">To explore more local food options</a>.</p>
        </div>

        <picture>
            <source srcset="~/css/pigs.jpg">
            <img src="~/css/pigs.jpg" alt="pigs" style="min-width:100%">
        </picture>

        <div>
            <label>Name of the main Buyer</label>
            <input asp-for="Name" type="text"/>
        </div>

        <div class="form-group">
            <label>How many Customers</label>
            <select asp-for="Customers" class="form-control">
                <option value="none">Choose an Amount</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
        </div>

        @*
        <div class="Customer_Intputs_Div">
            <input type="text" class="form-control" name="Customers[]" placeholder="Enter a Name" />
        </div>

        <button type="button" class="Button_Add">Add</button>
        <button type="button" class="Button_Remove">Remove</button>
        *@

        <div class="form-group">
            <label>How many pigs</label>
            <select asp-for="Amount" class="form-control">
                <option value="none">Choose an Amount</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
         </div>

        <div class="form-group">
            <label>Whole or half pig</label>
            <select asp-for="WholeorHalf" class="form-control">
                <option value="none">Choose an Option</option>
                <option value="true">Whole Pig</option>
                <option value="false">Half Pig</option>
            </select>
        </div>

        <button type="Submit" class="btn btn-primary">Calculate</button>
    </form>
</body>
</html>