
@model Input

<!DOCTYPE html>
<html>
<head>
    <title>Pigulator Calculated</title>
</head>
<body>
    <div>


        @if (Model.WholeorHalf == true)
        {
            @PigulatorCore.WPigs(Model.Amount, Model.Customers, Model.whole)
            <div>this is the price of a whole pig with TO BE IMPLEMENTED: A list of all customers involved in one order, Customers being able to set the percentage they will pay.</div>

        }
        else
        {
            @PigulatorCore.HPigs(Model.Amount, Model.Customers, Model.half)
            <div>this is the price of a half pig TO BE IMPLEMENTED: A list of all customers involved in one order, Customers being able to set the percentage they will pay.</div>
        }
    </div>
</body>
</html>
